.app-container {
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(244, 247, 250);
  /* background-color: blueviolet; */
}
.logo {
  width: 70px;
  height: 75px;
}

.logo-contaiiner {
  width: 1000px;
  height: 70px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
