.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 530px; */
  margin-top: 30px;
  margin-bottom: 10px;
  /* background-color: brown; */
}

.button {
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 250ms ease;
  font-family: Open Sans;
  border: 1px solid #dfe5ec;
  border-radius: 5px;
}
.buttons-container .button:hover {
  background-color: #2196f3;
  color: white;
  cursor: pointer;
  border: 0px;
  /* border-radius: 5px; */
}
.button2 {
  border-radius: 0px;
}
.button1 {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.button3 {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.button:focus {
  background-color: #2196f3;
  border: 1px solid #dfe5ec;
  color: white;
}
